html {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --amber: #ffbf00;
  --raspberry: #db1a50;
  --black: #08090c;
  --turquoise: #41e1be;
  --ucla-blue: #2274a5;
}

body {
  color: var(--white);
  background-color: var(--black);
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 57px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 4px;
  text-align: left;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  line-height: 100%;
  font-size: 26px;
  letter-spacing: 3px;
  text-align: left;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: left;
}

p,
.p {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  line-height: 100%;
  font-size: 20px;
  letter-spacing: 0.5px;
}

a {
  color: var(--amber);
}

a:hover {
  font-size: xx-large;
  color: var(--amber);
}
.nav {
  display: inline-flex;
  margin: 5px;
}

h1 {
  display: flex;
  flex-direction: row;
  padding: 35px;
}
.wd-1 {
  display: block;
  line-height: 3px;
  text-align: left;
  word-spacing: 0.5px;
}
.itlct-img {
  width: 90%;
  justify-content: center;
  padding-left: 15px;
}
/* media query */

/* styles for devices larger than 600px */
@media screen and (min-width: 600px) {
}

/* styles for devices larger than 1080px */
@media screen and (min-width: 1080px) {
}
/* change width size to fit larger screen */
