html {
  box-sizing: border-box;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}

.hero-body p {
  text-align: center;
}
.button {
  border: none;
  border-radius: 12px;
  
}
g